// basic
html,body{  
    font-family:'Nanum Myeongjo', serif;
    font-style: italic;
    font-size: 1.8vw;
    line-height:1.4;
    text-size-adjust:none;
    color:#222;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, strong, b, i, dl, dt, dd, ol, ul, li, label, table, caption, tbody, tfoot, thead, tr, th, td, canvas, footer, header, nav, section, summary, video, input, button{margin:0;padding:0;outline:none;box-sizing: border-box;-webkit-tap-highlight-color:transparent;}
img{vertical-align:top;}
ol,ul{list-style:none}
button{overflow:visible;border:0;background:none;color:inherit;line-height:normal;cursor:pointer;border-radius:0;}
a, a:active, a:hover{text-decoration:none;color: inherit;}

// set basic
$point: #9A24FC;
$point_gra: linear-gradient( 152.03deg, #9A24FC 1.14%, #5F39E2 53.23%, #078EDE 99.97% );
$largetxt: 2.5rem;
@for $i from 0 through 30 {
    .s#{$i} { 
        transition-delay: ( 25ms * $i ) !important;
    }
}
::selection {
    background-color: $point;
    color: #fff;
}

// txt_wrap
.txt_wrap {
    height: calc( #{$largetxt} * 1.2);
    line-height: 1.2;
    font-size: $largetxt;
    position: relative;
    display: inline-block;
    margin-left: 0; 
    transition: margin .4s cubic-bezier(.445,.05,.55,.95);
    padding-right: 20px;
    // box-sizing: border-box;
    // overflow: hidden;
    div {
        transition:opacity .4s cubic-bezier(.445,.05,.55,.95),transform .4s cubic-bezier(.445,.05,.55,.95),visibility .5s .5s;
        span:not(.space) {
            display: inline-block; padding: 0 .1em;
            margin: 0 -.1em; box-sizing: border-box;
            transform-origin: center center .4em;
            transition:  .2s cubic-bezier(.445,.05,.55,.95);
        }
        &.txt_show{
            position: absolute;top: 0;left: 0;
            color: $point;
            opacity: 1;
            visibility: hidden;
            span {
                transform: rotate3d(1,-.5,0,90deg) !important;
            }
        }
    }
    .tooltip {
        font-style: normal;
        display: inline-block;
        background:$point_gra;
        color: #fff;
        border-radius: 5px;
        padding: 6px 12px 8px;
        visibility: hidden;
        position: fixed;
        box-shadow: rgba(0,0,0,.3) 2px 2px 8px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 17px;
        line-height: 1.4;
        z-index: 99;
    }
}
.con {
    .txt_wrap.hover {
        margin-left: 1.6rem;
        span:not(.space) {
            transition: transform .7s cubic-bezier(.5,0,0,1);
        }
        .txt_basic{ 
            span{ 
                transform: rotate3d(1,.3,0,-90deg) ; 
            }
        }
        .txt_show{
            visibility: visible;
            transition: opacity .4s cubic-bezier(.445,.05,.55,.95),transform .4s cubic-bezier(.445,.05,.55,.95),visibility .5s;
            span{ 
                transform: rotate3d(0,0,0,90deg) !important;
            }
        }
        .tooltip {
            visibility: visible;
            &.mo {
                top: 36px;
                left: 10px; 
            }
        }
    }
}


// layout
.wrap {
    min-width: 360px;
    width: 80%;
    margin: auto;
    padding: 0 20px 6rem 20px;

    progress {
        position: fixed;top: 20px;left: 10px;
        appearance: none;
        width: calc(100% - 20px);
        height: 6px;
        background: transparent;
        border: none;
        z-index: 99;
        &::-webkit-progress-bar{
            background: transparent;
        }
        &::-webkit-progress-value{
            background: $point-gra;
            background-attachment: fixed;
        }
        &::-moz-progress-bar {
            background: $point-gra;
            background-attachment: fixed;
        }
    }
    header {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-weight: 400;
            font-size: $largetxt;
        }   
    }

    dl {
        line-height: 1;
        dt {
            font-family: 'Noto Sans KR', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: .7rem;
            padding-left: .4rem;
        }
        dd {
            padding: 1rem 0 0 0 ;
            li + li, a ~ a {
                margin-top: 1.6rem;
            }
        }
    }
    dl + dl {
        margin-top: 4rem;
    }
    
    footer{
        margin-top: 6rem;
        a {
            display: inline-block;
            font-size: $largetxt;
            // &:hover {
            //     &:after{             
            //         display: inline-block;
            //         vertical-align: top; 
            //         line-height: 1.2;
            //         color: $point;
            //         animation-duration: .4s;
            //         animation-name: contact-ani;
            //     }
            //     &.call:after {
            //         content: '010.7470.1996'
            //     }
            //     &.mail:after {
            //         content: 'ian.shinlee@gmail.com'
            //     }
            // }
        }
    }
    .reveal {
        transition: .7s;
        transform: translate3d(0, $largetxt, 0) rotate(9deg);
        opacity: 0;
        &.on{ 
            transform: none;
            opacity: 1;
        } 
    }
}

@keyframes contact-ani {
    from {
        opacity: 0;
        letter-spacing: 4px;
    }
    to {
        opacity: 1;
        letter-spacing: 0;
    }
}

// media
@media screen and (max-width: 1000px) {
    html,body {
        font-size: 2.2vw;
    }
    .wrap{
        width: 100%; 
        padding: 0 20px 20px 20px;
        dl dt { font-size: 15px; }
    }
    .txt_wrap .tooltip {
        font-size: 15px;
    }
    
}
@media screen and (max-width: 768px) {
    .wrap dl dt { font-size: 13px;}
    .wrap dl dd { padding-top: 1.5rem;}
    .txt_wrap .tooltip {font-size: 13px;}
}

 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .wrap .reveal{
        transform: none;
        opacity: 1;
    }
}